<!doctype html>
<html lang="en">

	<head>
		<title>Blog</title>
    <link rel = "stylesheet" href = "../stylesheets/main_content.css">
	</head>

	<body>
    
    <% include partials/navbar %>

    <div class = "container main_content">
			
			<% blogs.forEach(function(blog) { %>
			
				<div class = "card">
					
					<div class = "card-header">
						<%= blog.title %>
					</div>
					
					<div class = "card-body">
						<p class = "card-text">
							<%= blog.text %>
						</p>
					</div>

				</div>
			
			<% }) %>
			
    </div>
    
    <% include partials/footer %>

	</body>

  
</html>